.social {
    margin-left: 1px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-decoration: none;
    float: right;
    text-decoration-style: none;
    text-align: center;
}

.social a img {
    float: left;
    display: inline;
    height: 40px;
}


nav .container {
    color: black;
}

#style {
    width: 20px;
    float: right;
}

#main {
    background-color: #212F3C;
}

#contain {
    background-color: #d4d4d4;
}

#slide {
    background-color: #212F3C;
}

.ul1 {
    color: yellowgreen;
}