nav .container {
    color: black;
}

#style {
    width: 20px;
    float: right;
}

#main {
    background-color: #212F3C;
}

#contain {
    background-color: #d4d4d4;
}

#slide {
    background-color: #212F3C;
}

.ul1 {
    color: yellowgreen;
}