nav .container {
    color: black;
}

#style {
    width: 20px;
    float: right;
}

#main {
    background-color: #212F3C;
}

#contain {
    background-color: #d4d4d4;
}

#slide {
    background-color: #212F3C;
}

.ul1 {
    color: yellowgreen;
}
.logo img{
	 width:1080px;
}
@media (max-width: 1080px){
	.logo{
		/*display: none;*/
	}
}
.cardimage {
 width:100%; 
 height:180px;

}
.footerimage {
     height:50px; 
     width: 100% ;
}
.carouselimage img{
 width:100%;
  height:500px;
}